@import "../../../../styles/mixins.scss";

.navItem {
  height: 5rem;

  @include media(web) {
    height: 5.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;

    &.active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -2rem;
        left: 0;
        width: calc(100% - 1rem);
        height: 0.2rem;
        background-color: black;
        margin-left: 50%;
        transform: translateX(-50%);

        @include media(web) {
          bottom: -3.2rem;
        }
      }
    }
  }
}
