@import "../../../styles/mixins.scss";

.header {
  width: 100%;
  height: 6rem;
  border-bottom: 0.1rem solid #e5e5e5;
  padding: 1rem 2rem;
  transition: height 0.5s ease;
  overflow: hidden;
  margin-bottom: 7rem;

  @include media(web) {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.active {
    height: 28rem;
    transition: height 0.5s ease;

    @include media(web) {
      height: 10rem;
    }

    .navbarWrapper {
      height: 20rem;
      transition: height 0.5s ease;

      @include media(web) {
        display: flex;
        height: 10rem;
      }
    }

    .navbarIcon {
      display: block;
      top: 2.7rem;

      @include media(web) {
        display: none;
      }

      span {
        transform: translateY(2rem);
        transition: transform 0.5s ease, opacity 0.3s ease;
      }

      .line1 {
        transform: rotate(45deg);
      }

      .line2 {
        transform: translateX(-5rem);
        opacity: 0;
      }

      .line3 {
        transform: rotate(-45deg);
      }
    }
  }
}

.title {
  font-size: 2.4rem;
}

.logoWrapper {
  display: block;
  width: 20rem;
  height: 4rem;

  @include media(web) {
    width: 27.5rem;
    height: 3rem;
  }

  .logo {
    width: 100%;
    aspect-ratio: 16/9;
  }
}

.navbarWrapper {
  width: 100%;
  height: 0;
  overflow: hidden;
  margin-top: 2rem;
  transition: height 0.5s ease;

  @include media(web) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 10rem;
  }
}

.navbarIcon {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 2rem;
  top: 2rem;

  @include media(web) {
    display: none;
  }

  span {
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #000;
    transform: translateX(0);
    transition: transform 0.5s ease;
  }
}
